## Integracao de Dados

### Import Libres

In [2]:
import pandas as pd

### Criando tabelas simples

In [4]:
df_pessoas = pd.DataFrame({
    'Id_Pessoa': [1, 2, 3, 4],
    'Nome' : ['Maria', 'Joao', 'Jose', 'ana'],
    'Idade': [23, 32, 42, 20]
})

df_profissao = pd.DataFrame({
    'Id_Pessoa': [1, 2, 4, 5],
    'profissao': ['Medico', 'Dev', 'Engenheiro', 'Enfermeira']
})

### Tipos de merge

In [8]:
print('Inner Join')
# so retorna o que tem correspondencia em ambas
pd.merge(df_pessoas, df_profissao, on='Id_Pessoa', how='inner')

Inner Join

   Id_Pessoa   Nome  Idade   profissao
0          1  Maria     23      Medico
1          2   Joao     32         Dev
2          4    ana     20  Engenheiro

In [9]:
print('Left Join')
# Retorna tudo da tabela esquerda
pd.merge(df_pessoas, df_profissao, on='Id_Pessoa', how='left')

Left Join

   Id_Pessoa   Nome  Idade   profissao
0          1  Maria     23      Medico
1          2   Joao     32         Dev
2          3   Jose     42         NaN
3          4    ana     20  Engenheiro

In [10]:
print('Right Join')
#  retorna tudo da tabela direita
pd.merge(df_pessoas, df_profissao, on='Id_Pessoa', how='right')

Right Join

   Id_Pessoa   Nome  Idade   profissao
0          1  Maria   23.0      Medico
1          2   Joao   32.0         Dev
2          4    ana   20.0  Engenheiro
3          5    NaN    NaN  Enfermeira

In [11]:
print('Outer Join')
#  Retorna tudo
pd.merge(df_pessoas, df_profissao, on='Id_Pessoa', how='outer')

Outer Join

   Id_Pessoa   Nome  Idade   profissao
0          1  Maria   23.0      Medico
1          2   Joao   32.0         Dev
2          3   Jose   42.0         NaN
3          4    ana   20.0  Engenheiro
4          5    NaN    NaN  Enfermeira